.containerForm {
    width: 85vw;
    height: 80vh;
    background-color: rgb(24, 24, 24);
    margin: 4rem auto;
    border-radius: 5px;
    padding: 1rem ; 
}

.ContainerMain1{
    display: flex;
    column-gap: 2rem;
}

.containerForm hr {
    margin-top: 2rem;
}

.alo {
    display: flex;
}

